* {	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #7BA05B; /* var(--primary-color) */
	--secondary-color: #F9F9F5; /* var(--secondary-color) */
	--black-color: #000000; /* var(--black-color) */
	--white-color: #fff; /* var(--white-color) */
    --third-color: #F0D86E; /* var(third-color) */
	--extra-color: #FFF8E7; /* var(--extra-color) */
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Roboto", sans-serif;	
	background-color: var(--white-color);
}

main {
	flex: 1;
}

h1, h2, h3, a {
	font-family: "Saira Stencil", sans-serif;
}

/*--------------navbar--------------*/

.navbar {
	position: relative;
	background-color: var(--primary-color);
	padding: 5px 5px;
	z-index: 1000;
}

nav ul {
	width: 100%;
	list-style:none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav li {
	height: 50px;
}

nav li a img {
    width: 220px;
    height: auto;
}

nav a {
	height:100%;
	padding: 0 30px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: var(--white-color);
}

nav li a:not(.logo-link):hover {
	color: var(--black-color);
	background: var(--third-color);
	border-radius: 25px;
}


.active {
	color: var(--black-color);
	background: var(--third-color);
	border-radius: 25px;
}

.no_hover {
	background: var(--primary-color);
}

nav li:first-child {
	margin-right: auto;
}

.sidebar {
	position:fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 250px;
	z-index: 999;
	background-color: var(--primary-color);
	box-shadow: 10px 10px 50px 1px var(--primary-color);
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.sidebar li {
	width: 100%;
}

.sidebar a {
	width: 100%;
}

.menu-btn {
	display: none;
}

.hero {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

/*------------------------------ homepage ------------------------------*/

/*.video-wrapper {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}*/

.video-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.25);
}

.montage-vid {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100vw;
    height: 56.25vw; /* 16:9 */

    min-width: 177.77777778vh;
    min-height: 100vh;

    transform: translate(-50%, -50%);
    border: none;
    pointer-events: none;
}

.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--secondary-color);
	text-align: center;
	padding: 20px 20px;
	box-sizing: border-box;
	z-index: 10;
}

.video-overlay h1 {
	font-size: 50px;
}

.cta-button {
	margin: 35px 30px;
}

.cta-button a {
	font-size: 20px;
	text-decoration: none;
	color: var(--black-color);
	background: var(--third-color);
	padding: 30px 30px;
	border-radius: 30px;
}

@media(max-width: 850px){
	.hideOnMobile{
		display: none;
	}
	.menu-btn{
		display: block;
	}
}

@media(max-width: 500px){
	.sidebar{
		width: 100%;
	}
}

/*-------------- about --------------*/

.about {
	background: var(--extra-color);
	color: var(--black-color);
	padding: 60px 20px;
	text-align: center;
	height: 100%;
}

.about-container {
	display: flex;
	gap: 30px;
	justify-content: center;
	flex-wrap: wrap;
}

.about-card {
	background: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 12px;
	padding: 25px;
	width: 425px;
	text-align: justify;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-card h1 {
	color: var(--black-color);
	text-align: center;
}

.about-card h2 {
	color: var(--black-color);
	margin-bottom: 15px;
	text-align: center;
}

.hero-btns{
	display: flex;
	margin: 35px 15px;
	justify-content: center;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: var(--third-color);
	color: var(--black-color);
	font-weight: 600;
	text-decoration: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
}

/*-------------- contact --------------*/

.contact {
	display: flex;
	justify-content: center;
    align-items: center;
	color: var(--white-color);
	padding: 60px 20px;
	text-align: center;
	width:650px;
    margin:100px auto;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border-radius:20px;
}

.contact h2 {
	color: var(--white-color);
	font-size: 2rem;
	margin-bottom: 40px;
}

.contact-container {
	display: flex;
	justify-content: center;
    align-items: center;
	gap: 50px;
	flex-direction: column;
}

.contact-info {
	flex: 1;
	min-width: 250px;
	text-align: center;
	color: var(--white-color);
}

.contact-info p {
	color: var(--black-color);
	margin-bottom: 15px;
	display: flex;
	gap: 15px;
    align-items: center;
    justify-content: center;
}

.contact-form {
	width: 600px;
	flex: 1;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.contact-form input,
.contact-form textarea {
	padding: 10px;
	border-radius: 6px;
	border: 1px solid var(--primary-color);
	background: var(--white-color);
	color: var(--black-color);
	resize: none;
	font-size: 1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
	color: var(--black-color);
}

.contact-form button {
	display: inline-block;
	padding: 10px 20px;
	background-color: var(--primary-color);
	color: var(--black-color);
	font-weight: 600;
	text-decoration: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
}

.contact-form button:hover {
	opacity: 0.8;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-info {
    text-align: center;
  }
}

/*------------------------------ footer --------------------------------*/

.footer-container {
    color: var(--black-color);
    background-color: var(--primary-color);
	display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 5px 60px;
}


.footer-icons {
	display: flex;
    justify-content: space-between;
}

.footer-icons ul{
    display: flex;
    gap: 30px; /* increase this value */
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-icons li {
    display: inline-block;
}

.footer-icons a{
    color: var(--black-color);
}

/* ------------------ GALLERY PAGE ------------------ */

.gallery-page {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

.gallery-title {
    text-align: center;
    margin-bottom: 40px;
}

.gallery-title h1 {
    font-size: 3rem;
    color: var(--primary-color);
}

.gallery-title p {
    font-size: 1.2rem;
    color: var(--black-color);
}

.gallery-feature {
    flex: 1;
    text-align: center;
    margin-bottom: 50px;
}

.gallery-feature video {
    width: 100%;
    max-height: 900px;
    border-radius: 12px;
    background: #000;
}

.gallery-description {
    flex: 1;
    font-size: 1.1rem;
    color: var(--black-color);
    line-height: 1.6;
}


.gallery-card {
    cursor: pointer;
    transition: 0.3s ease;
}

.gallery-card:hover {
    transform: scale(1.03);
}

.gallery-card video {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}


.gallery-grid {
    display: grid;
    gap: 40px;
}

.gallery-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 50px;
    margin-bottom: 10px;
}

.gallery-card h3 {
    font-size: 1.3rem;
    color: var(--black-color);
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
	align-items: center;
    width: 100%;
    padding: 20px;
    gap: 30px;
}

/* Mobile */
@media (max-width: 700px) {
    .column {
        flex-direction: column;
        text-align: center;
    }

    .gallery-feature video {
        width: 100%;
    }
}
